*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 5px 2%;
    position: sticky;
    top:0;
}

img{
    cursor: pointer;
}

.left{
    display: flex;
    align-items: center;
}
 .logo {
    width:80px;
}

.menu{
    width: 18px;
    margin-right: 20px;
}


.search{
    display: flex;
    gap:12px;
    align-items: center;
}

header .input{
    display: flex;
    align-items: center;
    gap:290px;
    border:1px solid #ccc;
    width:500px;
    padding: 10px;
    border-radius: 20px;
}
header .input input{
    border:0;
    outline:0;
    background: transparent;
}

.nav-right{
    width:25px;
}
header .tools{
display: flex;
gap:20px;
align-items: center;

}

header .tools .user{
    width: 30px;
    border-radius: 50%;
}

/* sidebar */

.side-bar{
    display: flex;
    flex-direction: column;
    padding: 10px 2%;
    position: fixed;
    top:55px;
    background: white;
    width: 15%;
    height: 100vh;
    overflow: scroll;
}

.side-bar img{
    margin-right: 15px;
}
.side-bar .one,.two,.three{
display: flex;
flex-direction: column;
}



.side-bar div a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
}

.one img,.two img,.three img,.four img{
    width:20px;
}
.sub-img{
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    }
.side-bar hr{
    border:0;
    height: 1px;
    background-color: #ccc;
    width:85%;
    margin-bottom: 10px;
}

.side-bar   h4{
    font-size: 15px;
    color:#5a5a5a;
    margin-bottom: 10px;
}

.small-side-bar{
    width: 5%;
}

.small-side-bar a p{
    display: none;
}

.small-side-bar h4{
    display: none;
}

.mobile-bar{
    display: none;    /* will be displayed on getting the dimensions of the mobile   */
}

/*  videos          */
.video{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    column-gap: 30px;
    row-gap: 30px;
    overflow: hidden;
    padding-left:17%;
    padding-right: 2%;
    padding-top: 10px;
}

.large-video{
    padding-left: 7%;
}
.flex-div{
  align-items: start; /*so that images comes at the top of the container flexdiv        */
  display: flex;
}



.vid-info a{
    text-decoration: none;
}

.thumbnail{
    width: 100%;
}



.flex-div img{
    width: 30px;
    border-radius: 50%;
}

.vid-info a{
    color:black;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
 }

 .vid-info{
    color:#5a5a5a;
    font-size: 13px;
 }

@media(max-width:900px){
    .menu{
        display: none;
    }
    .side-bar .mobile-bar{
        display: block;
    }

    .side-bar .mobile-bar p{
        font-size: 10px;
    }

    .side-bar .mobile-bar img{
        width: 10px;
    }



    .video{
        padding-left: 19%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .side-bar .one,.two,.three,.four{
        display: none;
    }

    header .input{
        width: 100px; 
        gap:10px;
    }

    header input{
        width: 50px;
    }

    .nav-right{
        display: none;
    }
    .tools .user{
        display: block;
        width: 30px;
    }
}

/*  */

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 20px;
    padding-left: 17%;;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    display: block;  
    border-radius: 10px;  
    transition: transform 0.5s; /* for 0.5 zomming will be there  */
    
}

.layer{
    color: white;
    width:100%;
     height:100% ;/* to bring the layer in the centre with the bottom 0 height has been given 100%  , and to apply the background height must be given 100% */
    background: linear-gradient(rgba(0,0,0,0.6),transparent);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom: 0;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size:14px;
    transition: height 0.5s;
}